<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <header>
        <div class="navbar">
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if isAuthenticated}}
                    <li><a href="/api/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
            <div class="tech-blog-logo">
                <h1>The Tech Blog</h1>
            </div>
        </div> 
    </header>

    <body>
        {{{body}}}
    </body>
</html>