<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <div class="navbar">
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <div class="tech-blog-logo">
                <h1>The Tech Blog</h1>
            </div>
        </div> 
        <div class="blog-container">
            {{#each blogs}}
                <div class="blog-post-header">
                    <h2>{{title}}</h2>
                    <p>{{posted}}</p>
                </div>
                <div class="blog-post">
                    <p>{{content}}</p>
                </div>
            {{/each}}
        </div>
    </body>
</html>