<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <title>Tech Blog</title>
        <link re='stylesheet' href='/public/css/style.css' />
    </head>

    <body>
        
    </body>
</html>