<link rel="stylesheet" href="/css/home.css">

<div id="overlay3" class="hidden"></div>
    <div id="formBox3" class="hidden">
        <form>
            <label for="action3"><h2>COMMENT</h2></label><hr>  
            <label for="comment">What do you want to say?</label>
            <textarea id="comment" name="comment" required></textarea><br>
            <button id="comSubmit">Submit</button>
        </form>
    </div>   
        
        <div class="blog-container">
            {{#each blogs}}
                <div class="blog-post-header">
                    <h3>{{title}}</h3>
                    <p>{{posted}}</p>
                </div>
                <div class="blog-post">
                    <p>{{content}}</p>
                    <div id="buttonBox">
                        <button class="commentButton">Comment</button>
                    </div>
                </div>
                <div class="blog-comment">
                    <div class="blog-user">
                        {{!-- user name renders here --}}
                        <p>USER NAME</p>
                    </div>
                    <div class="blog-comment-text">
                        {{!-- comment text renders here --}}
                        <p>COMMENT</p>
                    </div>
                </div>
            {{/each}}
        </div>

<script src="/js/home.js"></script>