        <div class="blog-container">
            {{#each blogs}}
                <div class="blog-post-header">
                    <h3>{{title}}</h3>
                    <p>{{posted}}</p>
                </div>
                <div class="blog-post">
                    <p>{{content}}</p>
                    <div id="buttonBox">
                        <button id="updateButton">Update</button>
                        <button id="deleteButton">Delete</button>
                    </div>
                </div>
            {{/each}}
        </div>