<link rel="stylesheet" href="/css/login.css">

<div id="loginBoxBox">
    <div id="loginBox">
        <h3>Log In</h3>
        <form>
            <label for="emailInput">Email</label><br>
            <input type="text" id="textInput" name="emailInput"><br><br>
            <label for="passInput">Password</label><br>
            <input type="text" id="textInput2" name="passInput"><br><br>
        </form>
        <h5>Not Registered? Sign up here</h3>
    </div>
</div>
