<link rel="stylesheet" href="/css/login.css">

<div id="loginBoxBox">
    <div id="loginBox">
        <form>
            <label for="emailInput">Email</label><br>
            <input type="text" id="textInput" name="emailInput"><br>
            <label for="passInput">Password</label><br>
            <input type="text" id="textInput" name="passInput"><br>
        </form>
    </div>
</div>
