<link rel="stylesheet" href="/css/signup.css">

<div id="signupBoxBox">
    <div id="signupBox">
        <h3>Sign Up</h3>
        <form>
            <label for="emailInput">Email</label><br>
            <input type="text" id="textInput" name="emailInput"><br><br>
            <label for="passInput">Password</label><br>
            <input type="text" id="textInput2" name="passInput"><br><br>
        </form>
        <button id="signSubmit">Submit</button>
        <h5>Already Registered? Log in <a href="/login">here</a></h3>
    </div>
</div>

<script src="/js/signup.js"></script>