#dashBox {
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 90px;
    margin: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 20px;
}