html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(145, 185, 220);
    min-height: 100vh;
}

header {
    position: relative;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.82);
    width: 100vw;
    height: 20vh;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    list-style-type: none;
    padding: 0;
    height: 50%;
    position: relative;
    left: 5%;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10%;
}

.links li {
    font-size: 1.75vw;
    margin-right: 5%;
}

.links li a {
    color: aliceblue;
}

.links li a:hover {
    color: rgb(145, 185, 220);
}

.tech-blog-logo {
    background-color: aliceblue;
    width: 25%;
    height: 40%;
    position: relative;
    bottom: 15%;
    left: 5%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 2px rgb(145, 185, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-blog-logo h1 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.blog-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-post-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px 5px 0px 0px;
    margin-top: 1%;
    width: 90%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.82);
    color: aliceblue;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
}

.blog-post-header h3 {
    margin-left: 2%;
}

.blog-post-header p {
    margin-right: 2%;
}

.blog-post {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 0px 0px 5px 5px;
    width: 90%;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.blog-post p {
    margin-left: 2%;
    margin-right: 2%;
}

.commentButton {
    border-radius: 10px;
    cursor: pointer;
}

#buttonBox {
    margin-right: 2%;
}